#menu {
    display: inline-block;
    border: 1px solid black;
    background: white;
    margin: 15px;
    width: 200px;
}

#menu .title {
    background: #ddf9c0;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.nav {
    font-size: 1.25em;
    display: block;
    text-decoration: none;
    background: rgba(174, 236, 174, 0.863);
    padding: 5px 10px;
}

.nav:hover {
    background: rgba(233, 241, 112, 0.911);
}

.nav:active {
    background: white;
}
