.warper{
    display: flex;
    position: relative;
}

.warper .sliderImg{
    width: 100%;
}

.warper .slider-button{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width: 100px;
  height: 100px;
}

.warper .case-left {
  left: 0;
}

.warper .case-right {
    right: 0;
  }
  
.roster{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.rosterImg{
  width: auto;
  height: 300px;
}

.bio{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bioImage {
  width: auto;
  height: 200px;
  padding: 20px;
}