.warper{
    display: flex;
    position: relative;
}

.warper .sliderImg{
    width: 100%;
}

.warper .slider-button{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width: 100px;
  height: 100px;
}

.warper .case-left {
  left: 0;
}

.warper .case-right {
    right: 0;
  }
  
